---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalLine from "../components/animation/HorizontalLine.astro";
---

<BaseLayout title="Weinbau Schmuckenschlager - Impressum" description="Impressum für Weinbau Schmuckenschlager">
  <div class="flex flex-col w-full justify-center items-center py-10">
    <h1>Impressum</h1>
  </div>
  <HorizontalLine direction="left" color="black" width="100%" />
  <div
    class="flex flex-col w-full justify-center items-center py-10 text-center"
  >
    <strong>Weinbau Johannes und Andrea Schmuckenschlager</strong><br />
    <p>Einzelunternehmer</p>
    <p>Weingut</p>
    <p>UID: ATU 623 67 600</p>
    <p>Agnesstraße 46</p>
    <p>3400 Klosterneuburg</p>
    <p>+43 2243/37335</p>
    <p>info@weinbau-schmuckenschlager.at</p>
    <p>Gerichtsstand Klosterneuburg, Österreich</p>
  </div>
  <div
    class="flex flex-col w-full justify-center items-center py-10 text-center"
  >
    <strong>Heurigenbuffet Andrea Schmuckenschlager</strong><br />
    <p>Gastronomiebetrieb</p>
    <p>Einzelunternehmer</p>
    <p>UID: 534 74 609</p>
    <p>Agnesstraße 46</p>
    <p>3400 Klosterneuburg</p>
    <p>+43 2243/37335</p>
    <p>Gerichtsstand Klosterneuburg, Österreich</p>
  </div>
  <div
    class="flex flex-col w-full justify-center items-center px-10 py-10 text-center "
  >
    <p>
      Wenn Sie mehr über die Datenschutzbestimmungen oder Cookie-Richtlinien
      erfahren möchten, dann können Sie in den
      <a class="underline" href="/datenschutz">Datenschutzbestimmungen</a> oder <a
        class="underline"
        href="/datenschutz#cookies">Cookie-Richtlinien</a
      > nachlesen.
    </p>
  </div>
</BaseLayout>
