---
import "../styles/global.css";
import Header from "../components/structure/Header.astro";
import Footer from "../components/structure/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script>
  document.querySelectorAll('a[href^="#"], a[href^="/#"]').forEach((anchor) => {
    anchor.addEventListener("click", (e) => {
      const href = anchor.getAttribute("href");
      if (!href) return;

      const isHomepage =
        window.location.pathname === "/" ||
        window.location.pathname === "/index.html";

      const hash = href.includes("#") ? "#" + href.split("#")[1] : null;

      if (!hash) return;

      if (isHomepage) {
        e.preventDefault();
        document.querySelector(hash)?.scrollIntoView({
          behavior: "smooth",
        });
      }
    });
  });
</script>
