---
import { Image } from "astro:assets";
import HorizontalLine from "../../animation/HorizontalLine.astro";
import ContactForm from "./ContactForm.astro";
---

<section id="kontakt">
  <HorizontalLine direction="left" color="black" width="100%" />
  <div class="flex flex-col w-full justify-center items-center py-10">
    <h2>Können wir helfen?</h2>
  </div>
  <HorizontalLine direction="right" color="black" width="100%" />
  <div class="flex flex-row items-center max-xl:flex-col">
    <div class="w-1/2 p-5 max-xl:w-full">
      <ContactForm />
    </div>
    <div class="w-1/2 p-5 max-xl:w-full">
      <!-- TODO: Replace with actual map link -->
      <a href="https://maps.app.goo.gl/y2sVC223ALtriPGK8">
        <img
          src="/klosterneuburg_karte_hd.webp"
          class="w-full h-auto max-h-xl"
          alt="Karte Klosterneuburg"
        />
      </a>
    </div>
  </div>
</section>
