---
import VerticalLine from '../../animation/VerticalLine.astro';
import HorizontalLine from '../../animation/HorizontalLine.astro';
---
<section>
    <HorizontalLine direction="left" color="black" width="100%" />
    <div class="flex flex-col w-full justify-center items-center py-10">
        <h1 class="text-5xl">Ausg'steckt is'</h1>
    </div>
    <HorizontalLine direction="left" color="black" width="100%" />
    <div class="flex flex-row">
        <div class="flex flex-col items-center w-1/2 py-10 gap-4">
            <h3 class="">Öffnungszeiten</h3>
            <p>Montag - Samstag: ab 15:00 Uhr</p>
            <p>Sonntag und Feiertags: ab 10:00 Uhr</p>
            <a class="underline" href="/roemerl">Römerl Öffnungszeiten </a>
        </div>
        <VerticalLine direction="top" color="black"/>
        <div class="flex flex-row w-1/2">
            <!-- TODO Enter the time slots here -->
        </div>
    </div>
    <HorizontalLine direction="right" color="black" width="100%" />
</section>